{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="https://images.pexels.com/photos/331989/pexels-photo-331989.jpeg?auto=compress&cs=tinysrgb&w=600" class="img img-fluid", alt="Stock image of a haircut">
        </div>
        <div class="col-sm text-center">
            <h1>About Us</h1>
            <br>
            <h2>Welcome to Brow Salon</h2>
            <p class="text-center" style="text-indent: 50px;">At Brow Salon, we believe that beauty is more than just a look—it's a feeling. Our salon is a place where you can relax, rejuvenate, and leave feeling your absolute best. With a team of skilled stylists, and beauty professionals, we are dedicated to providing exceptional hair and beauty services tailored to your unique style.</p>
            <br>
            <h2>Visit us</h2>
            <p>📍 Address: 541 Main St NW, Bourbonnais, IL 60914 <br>
                📞 Phone: (815)304-5985 <br>
                📧 Email: browsalon3@gmail.com</p>
        </div>
    </div>
</div>

<div class="clear" style=" clear: both; height: 300px;"></div><!-- Clear dvided to help with spacing-->



{% endblock %}