{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="text-center">View and Schedule Appointments Here</div>
        <div class="text-center">
            <iframe src="https://calendar.google.com/calendar/embed?src=machoandrew12%40gmail.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    {% else %}
        <div class="text-center">Log in to schedule an appoitnment</div>
    {% endif %}
{% endblock %}