{% extends "base.html" %}

{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid" alt="Stock photo of a salon">
        </div>
        <div class="col-sm">
            <h1>Welcome to Brow Salon</h1>

            <p1>At Brow Salon, we believe that beauty is personal, and every visit should leave you feeling radiant, confident, and refreshed. Our expert stylists and beauty professionals provide exceptional hair, skin, and nail services tailored to your unique style and preferences. Whether you're looking for a simple refresh or a bold transformation, we're here to bring your vision to life.</p1>

        </div>
    </div>
</div>

<br>

{% endblock %}