{% extends "base.html" %}


{% block content %}

<h2 class="text-center container-fluid">Our Services</h2>
<table class="table text-center container-fluid">
    <thead>
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Duration</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
    {% for service in services %}
      <tr class="text-center">
        <td>{{service.name}}</td>
        <td>{{service.duration}}</td>
        <td>${{service.cost}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}